:root{
    --primary-color: #00695C;
}
*{
    margin: 0;
    padding: 0;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fff5;
}

a{
    text-decoration: none;
    color: #fff;
}


.font10{font-size: 10px;}
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font1{font-size: 19px;}
.font20{font-size: 20px;}
.font21{font-size: 21px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font25{font-size: 25px;}
.font26{font-size: 26px;}
.font27{font-size: 27px;}
.font28{font-size: 28px;}
.font29{font-size: 29px;}
.font30{font-size: 30px;}

.white-color{
    color: #fff;
}

.black-color{
    color: #000;
}

.display-flex{
    display: flex;
}
.flex-end{
    justify-content: flex-end;
}

.bg-white{
    background-color: #fff !important;
    color:var(--primary-color) !important;
}

.everything-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.everything-center-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

form{
    margin: 0px;
    padding: 0px;
}

form .nav-button{
    margin: 0px 10px;
}
.card{
    background-color: #fafafa;
    box-shadow: 0px 0px 4px 2px #ddd;
    border-radius: 8px;
    padding: 10px;
}

/* style login page */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.info{
    margin-bottom: 30px;
}
.main-login{
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    height: auto;
}

.form-element{
    display: flex;
    flex-direction: column;
}

.form-element label{
    padding-bottom: 6px;
}

.form-element input{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    width: -webkit-fill-available;
    border: none;
    border: 1px solid black;
}
.btn{
    background: #1b5e20;
    font-size: 20px;
    border: none;
    padding: 0px 10px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    color: #fff;
    transition: 0.8s;
    margin-top: 15px;
    font-size: 14px;
}
.btn:hover{
    background:#61c267 ;
    cursor: pointer;
}

/* styling navigation bar */
ul{
    list-style: none;
}
nav{
    background: #00695C;
    color: #fff;
    padding: 0px 20px;
}
nav ul{
    display: grid ;
    grid-template-columns: 1fr 1fr;
}


nav ul div{
    display: flex;
    align-items: center;
}
nav ul div li{
    padding: 10px 20px;
}
nav ul div li .search{
    min-width: 25vw;
    padding: 7px;
    border-radius: 5px;
    border: none;
}


/* search page */
.upper-strip{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px;
    color: black;
    margin: 25px 10vw;
    font-weight: bold;

}

.upper-strip div{
    padding:0px  20px;
}

.one-user{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px;
    color: black;
    margin: 25px 10vw;
}

.one-user div{
    padding: 20px;
}

/* customers page */

.customer-container{
    display:grid;
    grid-template-columns: 4fr 0.1fr 7fr;

}



.v-line{
    border-left: 1px solid #333;
}
.one-user-customer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 10px;
    color: black;
    margin: 20px 5vw;
    width: 90%;
}
.one-user-customer div{
    padding: 10px;
}

.customers{
    height: 90vh;
    overflow: scroll;
}

.one-user-sale {
    display: grid;
    grid-template-columns: repeat(11,1fr);
    color: black;
    margin: 20px 5vw;
    padding: 15px;
}

.upper-strip-sale{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    color: black;
    margin: 20px 5vw;
    font-weight: bold;
    padding: 15px;
}

/* .sale-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f5f5f5;
} */
.main-section{
    display: grid;
    grid-template-columns: 7fr 2fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* height: 90vh; */
}
.form-sale{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: scroll; */
    scrollbar-width: 0px;
    margin-top: 20px;

}
.rate{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}
select{
    padding: 8px;
    border-radius: 8px;
}


.main-login-sale{
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    height: auto;
    height: 90vh;
    overflow: scroll;
}

main:last-child{
    height:100%
}
.card-sale{
    background-color: #fafafa;
    box-shadow: 0px 0px 4px 2px #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
}

.report-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.report-container form  input{
    width: 100%;
}

.i-report{
    width: 100%;
}

input:focus{
    outline: none !important; 
}

.red-color{
    color: red !important;
}